# --- SEGURIDAD ---
# Bloquear archivos donde guardar el Token de GitHub o contraseñas
config.js
credentials.py
.env
*.log

# --- PYTHON ---
# Archivos temporales que genera Python al correr el monitor
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/

# --- SISTEMA ---
# Basura que generan Windows o Mac automáticamente
.DS_Store
Thumbs.db
desktop.ini

# --- IDEs ---
# Configuraciones de editores como VS Code o PyCharm
.vscode/
.idea/
